<!DOCTYPE html>
<html>
	<head>
		<div class="text-titulo">
			<h1>¡Bienvenidos a nuestra página!</h1>
			<% if user_signed_in? %>
				<h4>Bienvenido <strong><%= current_user.email %></strong></h4>
			<% end %>
		</div>	
	</head>
	<body>
		<section>
			<h3>Misión</h3>
				<p><h2>Entregar la mejor calidad, servicio y precios de mercado. Para ello enfocaremos nuestro trabajo en un mejoramiento contínuo con los servicios prestados hacia ellos y así dar respuesta real y satisfactoria a sus requerimientos.</h2></p>
			<h3>Visión</h3>
				<p><h2>Convertirnos en aliados estratégicos de nuestros clientes, basados en nuestra capacidad de ser una empresa altamente flexible y proactiva, y que experimente un crecimiento sostenido en el tiempo.</h2></p>
		</section>
		<footer>
			<div class="be-red">
			Avda. Elías Fernández Albano # 565 La cisterna – Santiago
		    </div>
		</footer>
	</body>
</html>


