<!DOCTYPE html>
<html>
	<head>
		<div class="text-titulo">
			<h1>Bienvenidos</h1>
		</div>
	</head>
	<body>
		<section>
			<% if user_signed_in? %>
				<h2>Bienvenido <%= current_user.email %></h2>
			<% end %>
		</section>
		<footer>
			<div class="be-red">
			Avda. Elías Fernández Albano # 565 La cisterna – Santiago
		    </div>
		</footer>
	</body>
</html>
