<div style="width:80%;margin:0 auto;">
	<div class="text-titulo">
		<h1>Editando Cliente</h1>
	</div>

	<%= render 'form' %>

	<%= link_to 'Mostrar', @customer %> |
	<%= link_to 'Volver', customers_path %>
</div>
