<!DOCTYPE html>
<html>
	<head>
		<div class="text-titulo">
			<h1>Galería</h1>
		</div>	
	</head>
	<tbody>
		<section>
			<div id="marginn">
				<table class="centrado">
					<tr>
					<td><div class='img' id='img-1'>
						<div class='mask'></div>
						<img src='<%= asset_path '01.jpg' %>' />
					</div></td>
					<td><div class='img' id='img-2'>
						<div class='mask'></div>
						<img src='<%= asset_path '02.jpg' %>' />
					</div></td>
					</tr>
					
					<tr>
					<td>
					<div class='img' id='img-4'>
						<div class='mask'></div>
						<img src='<%= asset_path '03.jpg' %>' />
					</div>
					<br>
					</td>
					<td>
					<div class='img' id='img-5'>
						<div class='mask'></div>
						<img src='<%= asset_path '04.jpg' %>' />
					</div>
					<br>
					</td>
					</tr>
				</table>
			<br>
			<br>
			<br>
			<br>
			</div>
		</section>
		<footer>
			<div class="be-red">
				Avda. Elías Fernández Albano # 565 La cisterna – Santiago
		    </div>
		</footer>
	</tbody>
</html>




