<div style="width:80%;margin:0 auto;">
	<div class="text-titulo">
		<h1>Editando Materia Prima</h1>
	</div>

	<%= render 'form' %>

	<%= link_to 'Mostrar', @material %> |
	<%= link_to 'Volver', materials_path %>
</div>
