<!DOCTYPE html>
<html>
	<head>
		<div class="text-titulo">
			<h1>Quiénes Somos</h1>
		</div>	
	</head>
	<body>
		<section>
				<p><h2>TRASVASIJE ALEX SOTO es una Empresa Nacional, orientada a la prestación de servicios en el área productiva, tanto de trasvasijes como de maquila, brindando para ello un servicio de excelencia en  respuesta a los requerimientos de parte de sus clientes.</h2></p>

				<p><h2>Formada en Noviembre de 2015 como respuesta a los requerimientos de muchos clientes del Rubro Construcción, Agrícola, Minería y Tratamientos de Aguas Industriales, entre otros.</h2></p>

				<p><h2>El Mayor compromiso es entregar la mejor calidad, servicio y precios de mercado, para ello enfocaremos nuestro trabajo en un mejoramiento continuo con los servicios prestados hacia ellos y así dar respuesta real y satisfactoria a sus requerimientos.</h2></p>
		</section>
		<footer>
			<div class="be-red">
				Avda. Elías Fernández Albano # 565 La cisterna – Santiago
		    </div>
		</footer>
	</body>
</html>